# List

# Creation time
* create **list** `[elem1,elem2,...]`
    * start **[** and end with **]**
* create **tuple** `(elem1,elem2,...)`
    * start **(** and end with **)**
    
* create **dictionary** `{key:value, key2:value2,...}`
    * start **{** and end with **}**
    
* create **set** `{elem1,elem2,...}`
    * start **{** and end with **}**
    
# Calling Time

* list_var[index]
    * start **[** and end with **]**
* tup_var[inde]
    * start **[** and end with **]**
* dict_var[key]
    * start **[** and end with **]**

ASCCI
A-65
Z-90

a-97
z-122

0-47
9-58

In [4]:
l = list(range(65,91))
for a in l:
    print(chr(a))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [5]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [7]:
chr(67)

'C'

In [3]:
ord('Z')

90

# mutable

In [28]:
#        0                1             2  index
a = ['Muhammad Aslam',"Muhammad Qasim",30] # value,element

a[1] # calling

'Muhammad Qasim'

In [30]:
a[1] = 'Qasim' #update/calling
a

['Muhammad Aslam', 'Qasim', 30]

In [32]:
a = 'Muhammad Qasim'
print(a)

a[0]

Muhammad Qasim

'M'

In [33]:
a = 'Muhammad Qasim'
print(a)

a[0] = 'm'
print(a)

Muhammad Qasim

TypeError: 'str' object does not support item assignment

# Tuple (immutable)

In [38]:
#     0  1  2
a = ('X','Y','Z')
#.   -3  -2 -1
print(a)

('X', 'Y', 'Z')

['count', 'index']

In [40]:
for i in a:
    print(i)

X
Y
Z

In [41]:
a[0]

'X'

In [42]:
a[-1]

'Z'

In [43]:
a[0] = "Pakistan" # update
print(a)

TypeError: 'tuple' object does not support item assignment

In [45]:
#     0  1  2
a = ('X','Y','Z')
#.   -3  -2 -1
print(a)
print(id(a))

a = ('Pakistan','Y',"Z") # re assign we change whole variable

print(a)
print(id(a))

('X', 'Y', 'Z')
6045502912
('Pakistan', 'Y', 'Z')
6045460992

In [39]:
[i for i in dir(a) if "__" not in i]

['count', 'index']

# Set

In [47]:
a = {1,2,3,4,3,7,8,1,1} # set/unique
print(a)

{1, 2, 3, 4, 7, 8}

In [48]:
print(a[0]) # indexing not allowed

TypeError: 'set' object is not subscriptable

# List

In [ ]:
#        0                1             2  index
a = ['Muhammad Aslam',"Muhammad Qasim",30] # value,element

a[1]

In [13]:
#                                   
a = {
    'fname':'Muhammad Aslam', 
     'name':"Muhammad Qasim",
     'age':30
    } 

print(a)

a['name']

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'age': 30}

'Muhammad Qasim'

In [16]:
import pandas as pd

#class topic
data = {"roll_no":[1,2,3],
       "name":['a','b','c'],
       'course':['AI',"DS","ML"]}

#class top end

print(data)

df = pd.DataFrame(data)
df

{'roll_no': [1, 2, 3], 'name': ['a', 'b', 'c'], 'course': ['AI', 'DS', 'ML']}

   roll_no name course
0        1    a     AI
1        2    b     DS
2        3    c     ML

In [22]:
#       Bank                  customer
print('42201-7578760-1' == '4220175787601') #real data

print('42201-7578760-1' == '42201-7578760-1') # after converted 1
print('4220175787601' == '4220175787601') # after coverted 2

print('42201-7578760-1'.replace("-","") == '4220175787601'.replace("-","")) #3

False
True
True
True

In [ ]:
# 30/01/2022 department1
# 30,01,2022
# 30>12 = 0 index day


# 01/30/2022 department2

# 2022/01/30 department3

# now replace index number with Key

```
{
    key1 : value1,
    key2 : value2,
}
```
* key = str, int
* value = str, int, float, list, tuple, dict...

In [24]:
d = {
    'a':"Pakistan",
    20: "Hello world"
    }
print(d)
print(d[20])
print(d['a'])

{'a': 'Pakistan', 20: 'Hello world'}
Hello world
Pakistan

In [26]:
d = {
    'a':"Pakistan",
    20: "Hello world",
    (1,2,3): "ABCD" # wrong method
    }
print(d)
print(d[20])
print(d['a'])
print(d[(1,2,3)])

{'a': 'Pakistan', 20: 'Hello world', (1, 2, 3): 'ABCD'}
Hello world
Pakistan
ABCD

In [27]:
d = {
    'a':"Pakistan",
    20: "Hello world",
    [1,2,3]: "ABCD" # wrong method
    }
print(d)
print(d[20])
print(d['a'])
print(d[(1,2,3)])

TypeError: unhashable type: 'list'

In [52]:
data = {"roll_no": [1,2,3,4]}

print(data)#dic
print(data['roll_no'])# list
print(data['roll_no'][2])# int

{'roll_no': [1, 2, 3, 4]}
[1, 2, 3, 4]
3

In [55]:
#.   0 1 2.         3
a = [1,2,3, {'id':'1','name':'Ali'}]
#.  -4,-3,-2      -1
print(a)
print(a[-1])
print(a[-1]['name'])

[1, 2, 3, {'id': '1', 'name': 'Ali'}]
{'id': '1', 'name': 'Ali'}
Ali

In [58]:
print(a)
print(type(a))

isinstance(a,list)# match one data type with your datatype

[1, 2, 3, {'id': '1', 'name': 'Ali'}]
<class 'list'>

True

In [61]:
{'c',1,2,3,3,3, 'a',20,'b','c'}

{1, 2, 20, 3, 'a', 'b', 'c'}

In [71]:
course = ['AI',"AI","DS","DS"] # list
print(course, type(course))

course = set(course) # set converted
print(course, type(course))

course = list(course)
print(course, type(course)) # converted into list

course.reverse() # reverse order
print(course, type(course))

['AI', 'AI', 'DS', 'DS'] <class 'list'>
{'AI', 'DS'} <class 'set'>
['AI', 'DS'] <class 'list'>
['DS', 'AI'] <class 'list'>

In [64]:
a={'d',4,33,'a','a'}
a

{33, 4, 'a', 'd'}

In [78]:
a = [1,2,2,2,2,3, 'a','b','x'] # list
# convert into unique values
a = set(a) # set/unique
print(a, type(a))

#convert into list for apply any function on it
a = list(a)# now again change in list
print(a, type(a))

a_string = [i for i in a] # all element

# for i in a:
#     print(i)



print(a_string)

a_string = [i for i in a if isinstance(i,str)] # all string
a_string = sorted(a_string)
print(a_string)

a_intiger = [i for i in a if isinstance(i,int)] # all int
a_intiger = sorted(a_intiger)
print(a_intiger)

a = a_string + a_intiger
print(a)

{1, 2, 3, 'a', 'b', 'x'} <class 'set'>
[1, 2, 3, 'a', 'b', 'x'] <class 'list'>
[1, 2, 3, 'a', 'b', 'x']
['a', 'b', 'x']
[1, 2, 3]
['a', 'b', 'x', 1, 2, 3]

# code generate with ChatGPT

In [79]:
a = [1, 2, 2, 2, 2, 3, 'a', 'b', 'x']

# Separate string and integer items
string_items = [item for item in a if isinstance(item, str)]
integer_items = [item for item in a if isinstance(item, int)]

# Get unique values
unique_string_items = list(set(string_items))
unique_integer_items = list(set(integer_items))

# Sort in ascending order for string items and descending order for integer items
sorted_string_items = sorted(unique_string_items)
sorted_integer_items = sorted(unique_integer_items, reverse=True)

# Combine the sorted lists
result = sorted_string_items + sorted_integer_items
print(result)

['a', 'b', 'x', 3, 2, 1]

In [83]:
d={
    'fname':input('Enter First Name:\t'),
    'lname':input('Enter Last Name:\t'),
    'roll_no':input('Roll #:\t')
}

Enter First Name:	aa
Enter Last Name:	bb
Roll #:	cc

In [84]:
d

{'fname': 'aa', 'lname': 'bb', 'roll_no': 'cc'}

In [95]:
i = [1,23]

print(isinstance(i,str))
print(isinstance(i,list))
print(isinstance(i,tuple))
print(isinstance(i,set))
print(isinstance(i,dict))
print(isinstance(i,float))
print(isinstance(i,bool))
print(isinstance(i,int))
print(isinstance(i,complex))

False
True
False
False
False
False
False
False
False