In [3]:
s1_name = "Hammad"
s2_name = "Visha"
s3_name = "Sadia"
s4_name = "M.A Rasheed"


print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

Hammad
Visha
Sadia
M.A Rasheed

# list data type
* Hetrogenous data type
* dynamic length
* dynamic memory management

Syntax:

```[elemnet1, element2, element3,...]```

In [4]:
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
names

['Hammad', 'Visha', 'Sadia', 'M.A Rasheed']

In [ ]:
# ->         0       1        2         3
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
# <-        -4       -3        -2         -1             <-

names

# Extract value from iterative data type with index position
Syntax: ```list_variable[index_number]```

In [6]:
names1 = input("Please insert names with ',' seprated: ")
print(names1)
names1.split(",")

Please insert names with ',' seprated:  Hamza,Ali,Iqbal,Junaid,Ibad,Konain

Hamza,Ali,Iqbal,Junaid,Ibad,Konain

['Hamza', 'Ali', 'Iqbal', 'Junaid', 'Ibad', 'Konain']

In [8]:
# ->         0       1        2         3
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
# <-        -4       -3        -2         -1             <-
# list_variable[index_number]
print(names[1])
print(names[-3])

Visha
Visha

# Slicing on list
Syntax: ```list_variable[start:end:step]```
* start = this number will be included
* end = excluded end-1
* step = sequance/gap