variable_name = value

<img src="variable.png">

In [6]:
a = 1
b = 2

print(a + b)

3

In [12]:
name = "Muhammad Qasim"

print(name) 
print(type(name)) #class data type
print(id(name)) # physical address of variable

Muhammad Qasim
<class 'str'>
2206130063856

In [13]:
a = 20

print(a)
print(type(a))
print(id(a))

20
<class 'int'>
2206049043280

In [14]:
a = 20.7

print(a)
print(type(a))
print(id(a))

20.7
<class 'float'>
2206129160432

In [15]:
a = [1,2,3] # list

print(a)
print(type(a))
print(id(a))

[1, 2, 3]
<class 'list'>
2206130118912

In [16]:
a = {1,1,1,2,5,5,2} # unique collection

print(a)
print(type(a))
print(id(a))

{1, 2, 5}
<class 'set'>
2206128549088

In [17]:
a = {"name":"Qasim",
    "education":"MSDS"}

print(a)
print(type(a))
print(id(a))

{'name': 'Qasim', 'education': 'MSDS'}
<class 'dict'>
2206129356096

In [22]:
a = 7 # dynamic data type language
print(a, type(a), id(a))

a = '7' # string / overwrite
print(a, type(a), id(a))

a = 7.0 # float
print(a, type(a), id(a))

7 <class 'int'> 2206049042864
7 <class 'str'> 2206050332592
7.0 <class 'float'> 2206129172464

In [24]:
qasim = 1
qasim = 2
qasim = '2'
print(qasim)

2

In [25]:
a = '1'
b = '1'

print(a + b)

11

In [26]:
a = 1
b = 1

print(a + b)

2

In [27]:
qasim = 1
print(qasim, type(qasim), id(qasim))

qasim = 2
print(qasim, type(qasim), id(qasim))

qasim = '2'
print(qasim, type(qasim), id(qasim))

1 <class 'int'> 2206049042672
2 <class 'int'> 2206049042704
2 <class 'str'> 2206050178352

In [28]:
x = 6 # shallow copy
y = 6
z = 6

print(id(x))
print(id(y))
print(id(z))

2206049042832
2206049042832
2206049042832

In [29]:
a = 7
b = '7'

print(id(a)) # deep copy
print(id(b))

2206049042864
2206050332592

In [30]:
a = 7
b = 8
print(id(a)) # deep copy
print(id(b))

2206049042864
2206049042896

# Operators

<img src="operators.png">
https://www.w3schools.com/python/python_operators.asp

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

## Arithmetic operators

In [32]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [36]:
print(2 + 7, "Addition")
print(7 - 2, "Subtaction")
print(7 * 2, "Multiplication")
print(7 / 2, "Division")

9 Addition
5 Subtaction
14 Multiplication
3.5 Division

# <img src="modulus.png">

In [37]:
print(11 % 3)

2

In [40]:
print(2 ** 2)
print(2 ** 3)

4
8

In [41]:
7/2

3.5

In [42]:
7//2

3

# Python Assignment Operators

In [43]:
df[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [44]:
a = 7
print(a)

7

In [45]:
a += 2
print(a)

9

# Python Comparison Operators

In [46]:
df[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [47]:
a = 7
b = 7

a == b

#a == b
#7 == 7
#True

True

In [48]:
a = 7
b = 9

a == b
#a == b
#7 == 7
#False

False

In [49]:
a = 7
b = 9

a > b
#a == b
#7 == 9
#False

False

In [50]:
a = 7
b = 9

a < b
#a == b
#7 == 9
#True

True

In [54]:
a = 9
b = 9

a >= b
#a == b
#7 == 9
#False

True

In [55]:
a = 9
b = 9

a != b
#a == b
#7 == 9
#False

False

In [56]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [59]:
#      1        2        3        4
print(True and True and True and True)
print(True and False and True and True)
print(True and False and True and False)

True
False
False

In [62]:
#      1        2        3        4
print(True or True or True or True)
print(True or False or True or True)
print(True or False or True or False)
print(False or True or True or True)

True
True
True
True