Usecase:
* user input
* password
    
Logic
*   user_input equal "admin"
*   password equal  "admin123"
    * Valid user

Message display

In [3]:
qasim = input("Enter user name: \t")

if admin == "admin":# step1 only check username 
    print("Valid user")
    password = input("Enter your password: \t")
    if password == 'admin123': # step2 child 
        print("Valid user name and password!")
    else:
        print("re enter valid passwordadmin")
else:
    print("Please enter valid user name")

Enter user name: 	admin
Valid user
Enter your password: 	aaaaa
re enter valid password

In [5]:
user = input("Enter user name: \t")

if user == "admin":# step1 only check username 
    print("Valid user")
    password = input("Enter your password: \t")
    if password == 'admin123': # step2 child 
        print("Valid user name and password!")
        otp = input("OTP")
        if otp == '123':# step3
            print("Welcome User")
        else:
            print("NotValid OTP blocked now!")
    else:
        print("re enter valid passwordadmin")
else:
    print("Please enter valid user name")

Enter user name: 	admin
Valid user
Enter your password: 	admin123
Valid user name and password!
OTP123
Welcome User

In [6]:
# Sample data
stored_username = "user123"
stored_password = "pass456"
stored_otp = "123456"

# Input from user
input_username = input("Enter your username: ")
input_password = input("Enter your password: ")
input_otp = input("Enter the OTP: ")

# First layer: Username check
if input_username == stored_username:
    print("Username verified.")
    
    # Second layer: Password check
    if input_password == stored_password:
        print("Password verified.")
        
        # Third layer: OTP check
        if input_otp == stored_otp:
            print("OTP verified. Authentication successful!")
        else:
            print("Incorrect OTP. Authentication failed.")
    else:
        print("Incorrect password. Authentication failed.")
else:
    print("Username not recognized. Authentication failed.")

Enter your username: user123
Enter your password: pass456
Enter the OTP: 123456
Username verified.
Password verified.
OTP verified. Authentication successful!

In [7]:
user = 'admin'
password = 'admin123'
otp = '123'

if user=='admin' and password == 'admin123' and otp == '123':# one layer
    print("Valid user")
else:
    print("Not valid user")

Valid user

# LOOP 
* while
* for
* controls - optional
    * break 
    * continue
    * pass
    
* **Three things are important**
    * counter
    * logic
    * increament/Decrement

In [14]:
counter = 0 # counter

while counter <= 10: # logic
    print(counter)
    counter += 1
else:
    print("Hello")

0
1
2
3
4
5
6
7
8
9
10
Hello

In [17]:
counter = 100
while counter > 0:
    print(counter)
    counter -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
counter = 1

while counter < 1000000:
    print(counter)
    if counter == 5:
        break
    counter += 1

1
2
3
4
5

In [22]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue # ignore everything in block below for this step only
    print(i)

1
2
4
5
6
7
8
9

In [25]:
i = 1
print(i)
i += 1 # add 1 in previouse value
print(i)
i += 1 # add 1 in previouse value
print(i)

1
2
3

# For loop
```
for (counter;logic;inc/dec){
    
}
```

In [26]:
#        0.  1.  2.  3
name = ['a','b','c','d']

print(name[0])
print(name[1])
print(name[2])
print(name[3])

a
b
c
d

In [30]:
#.       0.  1.  2.  3
name = ['a','b','c','d','e','f','g']

#print(len(name)) #output 4

i = 0
while i < len(name): # dyamic length
    print(name[i])
    i += 1

a
b
c
d
e
f
g

In [35]:
#count   1.  2.  3.  4
#index   0.  1.  2.  3
name = ['a','b','c','d','e','f','g']

#print(len(name)) #output 4

i = len(name)-1

while i >= 0: # dyamic length
    print(name[i])
    i -= 1

g
f
e
d
c
b
a

In [36]:
year = 2023

while year >= 1980:
    print(year)
    year -= 1

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000
1999
1998
1997
1996
1995
1994
1993
1992
1991
1990
1989
1988
1987
1986
1985
1984
1983
1982
1981
1980

In [37]:
names = ['a','b','c','d','e','f','g']

for name in names:
    print(name)

a
b
c
d
e
f
g

In [38]:
names = ['a','b','c','d','e','f','g']

for name in names:
    print(f'Hello Mr/Miss, {name}, Welcome in our AI Class!')

Hello Mr/Miss, a, Welcome in our AI Class!
Hello Mr/Miss, b, Welcome in our AI Class!
Hello Mr/Miss, c, Welcome in our AI Class!
Hello Mr/Miss, d, Welcome in our AI Class!
Hello Mr/Miss, e, Welcome in our AI Class!
Hello Mr/Miss, f, Welcome in our AI Class!
Hello Mr/Miss, g, Welcome in our AI Class!

In [39]:
a = [1,2,3]
b = ['a','b','c']
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [40]:
names = ['ali','hamza','junaid']
ages = [22,25,30]
courses = ['AI',"ML","DS"]

data = list(zip(names,ages,courses))

data

[('ali', 22, 'AI'), ('hamza', 25, 'ML'), ('junaid', 30, 'DS')]

In [41]:
a,b,c = [1,2,3] # unzip

print(a)
print(b)
print(c)

1
2
3

In [44]:
a,b,c = [1,2,3] # unzip

print(a)
print(b)
print(c)

1
2
3

In [45]:
names = ['ali','hamza','junaid']
ages = [22,25,30]
courses = ['AI',"ML","DS"]

for name,age, course in zip(names,ages,courses):
    print(f'Hello Dear {name}, Welcome in {course} Course class, your are {age} years old')

Hello Dear ali, Welcome in AI Course class, your are 22 years old
Hello Dear hamza, Welcome in ML Course class, your are 25 years old
Hello Dear junaid, Welcome in DS Course class, your are 30 years old

In [46]:
users = ['a','b','c']
password = ['1','2','3']

ui = input("UserName:\t")
pi = input("Password:\t")

for u,p in zip(users,password):
    if ui == u and pi == p:
        print(f"Welcome Dear {u}!")
        break
        
else:
    print("Not Valid user name password!")

UserName:	b
Password:	2
Welcome Dear b!

In [47]:
users = ['a','b','c']
password = ['1','2','3']

ui = input("UserName:\t")
pi = input("Password:\t")

for u,p in zip(users,password):
    if ui == u and pi == p:
        print(f"Welcome Dear {u}!")
        break
        
else:
    print("Not Valid user name password!")

UserName:	d
Password:	55
Not Valid user name password!

In [49]:
#         0      1.      2
names = ['ali','hamza','junaid']
list(enumerate(names))

[(0, 'ali'), (1, 'hamza'), (2, 'junaid')]

In [50]:
names = ['ali','hamza','junaid']
for idx, value in enumerate(names):
    print(idx, value)

0 ali
1 hamza
2 junaid

In [51]:
names = list('abcdefghijklmnopqrstuvwxyz')
print(names)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [52]:
names = list('abcdefghijklmnopqrstuvwxyz')
blocked_customer = ['b','z','k','w']

for name in names:
    if name not in blocked_customer:
        print(f'Hello {name}!')

Hello a!
Hello c!
Hello d!
Hello e!
Hello f!
Hello g!
Hello h!
Hello i!
Hello j!
Hello l!
Hello m!
Hello n!
Hello o!
Hello p!
Hello q!
Hello r!
Hello s!
Hello t!
Hello u!
Hello v!
Hello x!
Hello y!

# Create Data Enter System using loop
* you can enter records unit your "enter" **exit|x**

In [54]:
data = []

while True:
    n = input("name")
    p = input("password")
    if n=='exit' or n == 'x':
        break
        
    data.append([n,p])

namea
password1
nameb
password2
nameb
password3
named
password4
nameexit
password

In [55]:
data

[['a', '1'], ['b', '2'], ['b', '3'], ['d', '4']]