# Functions

* Pre-define
    * provided by community
* User define
    * custome function created by you (programer)
* common properties
    * return
    * non-return
    * required-parameters
    * optional parameters
    * defualt function
    * postional argument
    * key value parameters
    * pass ulimited optional argument
    * pass ulimited key=value argument
    
Note:
1. function decrailation/signature = def abc(parm1,pram2..):
2. fucntion body
3. function calling
    
```
def custom_name(parm1,pram2,..): # signature
    statment1 #body start
    statment2
    statment2 # body end
    
custom_name()# function calling   
```

# Reserved keyswords

In [1]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_ref_keywords.asp")
df[0]

     Keyword                                        Description
0        and                                 A logical operator
1         as                                 To create an alias
2     assert                                      For debugging
3      break                             To break out of a loop
4      class                                  To define a class
5   continue        To continue to the next iteration of a loop
6        def                               To define a function
7        del                                To delete an object
8       elif    Used in conditional statements, same as else if
9       else                     Used in conditional statements
10    except  Used with exceptions, what to do when an excep...
11     False     Boolean value, result of comparison operations
12   finally  Used with exceptions, a block of code that wil...
13       for                               To create a for loop
14      from               To import specific parts of a module
15    global                       To declare a global variable
16        if                    To make a conditional statement
17    import                                 To import a module
18        in  To check if a value is present in a list, tupl...
19        is                 To test if two variables are equal
20    lambda                    To create an anonymous function
21      None                            Represents a null value
22  nonlocal                    To declare a non-local variable
23       not                                 A logical operator
24        or                                 A logical operator
25      pass  A null statement, a statement that will do not...
26     raise                              To raise an exception
27    return              To exit a function and return a value
28      True     Boolean value, result of comparison operations
29       try                   To make a try...except statement
30     while                             To create a while loop
31      with                Used to simplify exception handling
32     yield             To end a function, returns a generator

# Non-Return Funtion

In [2]:
def introduction():# Signature/function decrairlation
    print("NED University") # body start
    print("PGD Data Science - Generative AI Program!")
    print("Batch 5")
    print("Saturday & Sunday Calsses") # body end

In [3]:
abc = introduction()

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

In [4]:
print(abc)

None

In [5]:
introduction()# function calling

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

In [6]:
introduction()
introduction()

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses
NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

# Return Function

In [7]:
def introduction():# Signature/function decrairlation
    print("NED University") # body start
    print("PGD Data Science - Generative AI Program!")
    print("Batch 5")
    print("Saturday & Sunday Calsses") # body end
    
    return "Pakistan zinda bad!"

abc = introduction()

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

In [8]:
print(abc)

Pakistan zinda bad!

In [9]:
def introduction():# Signature/function decrairlation
    return "Pakistan zinda bad!", 123, 'xyz'


abc = introduction()# function calling

In [10]:
print(abc)

('Pakistan zinda bad!', 123, 'xyz')

In [17]:
print(end="*")
print("Pakistan")
print()

Pakistan

# Required parameter

In [18]:
def add_two_numbers(num1,num2):#function signature
    return num1 + num2

print(add_two_numbers(8,2))
print(add_two_numbers(20,7))

10
27

In [19]:
add_two_numbers(7)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [20]:
add_two_numbers(7,8,9)

TypeError: add_two_numbers() takes 2 positional arguments but 3 were given

In [21]:
def add_two_numbers(num1,num2):#function signature
    print(f'numbe1: {num1} and number2: {num2}')
    return num1 + num2

print(add_two_numbers(7,8))
print(add_two_numbers(20,7))

numbe1: 7 and number2: 8
15
numbe1: 20 and number2: 7
27

### key word arguments

In [24]:
def add_two_numbers(num1,num2):#function signature
    print(f'numbe1: {num1} and number2: {num2}')
    return num1 + num2

print(add_two_numbers(num2=7, num1=8))
print(add_two_numbers(num1=20, num2=7))

numbe1: 8 and number2: 7
15
numbe1: 20 and number2: 7
27

In [26]:
def abc(x,y,z=0):
    return x+y+z

print(abc(1,2))
print(abc(1,2,3))

3
6

In [27]:
def abc(x,y=0,z=0):
    return x+y+z

print(abc(1,2))
print(abc(1,2,3)) # postional
print(abc(z=2,x=2,y=3)) # key word agrs
print(abc(2))
print(abc())

3
6
2
0

In [30]:
l = ["a",'b','c']

print(l[0],l[1],l[2])
print(*l)

a b c
a b c

In [32]:
l = ["a",'b','c']
x = l[0]
y = l[1]
z = l[2]

print(x,y,x)

a b a

In [33]:
l = ["a",'b','c']
x, y, z = l[0], l[1] ,l[2]

print(x,y,x)

a b a

In [31]:
l = ("a",'b','c')

print(l[0],l[1],l[2]) 
print(*l) #same as above

a b c
a b c

In [23]:
print(sum([1,7,9,9,1]))

27

In [38]:
def abc(x,y=0,z=0):
    return x + y + z

d = {"x":7,
    "y":20,
    "z":30 }

print(d['x'], d['y'], d['z'])
print(abc(d['x'], d['y'], d['z']))
print(abc(x=7, y=20, z=30))

print(abc(**d))

7 20 30
57
57
57

In [39]:
def abc(x,y=0,z=0):
    return x + y + z

d = {"x":7,
    "y":20,
    "z":30 ,
    'e':200}

print(d['x'], d['y'], d['z'])
print(abc(d['x'], d['y'], d['z']))
print(abc(x=7, y=20, z=30))

print(abc(**d))

7 20 30
57
57

TypeError: abc() got an unexpected keyword argument 'e'

# Unlimited argument function 
* positional based

In [44]:
def my_sum(*nums):
    
    total = 0
    
    for n in nums:
        total += n
    return total


print(my_sum(1,2,2,6,2,20))

33

In [45]:
l1 = [1,23,23]
print(my_sum(*l1))

47

In [42]:
print(1,2,2,3,4)
print(1,2,2,3,4, sep='**')

1 2 2 3 4
1**2**2**3**4

In [47]:
def abc(**data):
    print(data)
    return list(data.items())

#   key=value
abc(x=20,y=3, e=200, end=200)

{'x': 20, 'y': 3, 'e': 200, 'end': 200}

[('x', 20), ('y', 3), ('e', 200), ('end', 200)]

In [48]:
data = input("Enter Name,Father,Course").split(",")
data

Enter Name,Father,CourseQasim,Aslam,AI

['Qasim', 'Aslam', 'AI']

In [50]:
data = input("Enter Name,Father,Course").split(",")
data1 = {"Name":data[0],
       "Father":data[1],
       "Course":data[2]}

abc(**data1)

Enter Name,Father,CourseQasim,Aslam,AI
{'Name': 'Qasim', 'Father': 'Aslam', 'Course': 'AI'}

[('Name', 'Qasim'), ('Father', 'Aslam'), ('Course', 'AI')]

In [51]:
data1 = {"Name":"Qasim",
       "Father":"ASlam",
       "Course":"AI"}

abc(**data1)

{'Name': 'Qasim', 'Father': 'ASlam', 'Course': 'AI'}

[('Name', 'Qasim'), ('Father', 'ASlam'), ('Course', 'AI')]

# Advance
* require
* positional unlimite args
* key=word umlimited args

In [53]:
def advance(x, y, *nums, **data):
    print(x,y)
    print(nums)
    print(data)
    
advance(2,7, 'a',2,2,20,'b', e=20, c=2)

2 7
('a', 2, 2, 20, 'b')
{'e': 20, 'c': 2}

In [54]:
l1 = [2,2,3]
l2 = [4,4,4]

print(advance(7,2,*l1,*l2))

7 2
(2, 2, 3, 4, 4, 4)
{}
None

In [55]:
def aaa(*x, *y):
    print(x)
    print(y)
    
aaa(7,7,7,7)

SyntaxError: * argument may appear only once (1715822889.py, line 1)

# Lambda function
* one line function
* without name
* it did'nt use before or it'll not be used in future

syntaxt:
```
def add_two_numbers(x,y):
    return x + y
```

lambda
```
lambda x,y : x + y
```

In [56]:
def add_two_numbers(x,y):
    return x + y

add_two_numbers(7,2)

9

In [57]:
aaa = lambda x,y : x + y

print(aaa(2,7))

9

In [58]:
bbb = def add_two_numbers(x,y): return x + y

bbb(7,9)

SyntaxError: invalid syntax (3470837177.py, line 1)

In [60]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]

print(sorted(data))

[[1, 'Z', 'E'], [2, 'Y', 'G'], [3, 'X', 'F']]

In [63]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]

print(sorted(data, key=lambda k:k[0]))

[[1, 'Z', 'E'], [2, 'Y', 'G'], [3, 'X', 'F']]

In [62]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]

print(sorted(data, key=lambda x:x[1]))# x

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]

In [ ]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]


    
print(sorted(data, key=lambda x:x[1]))# x

In [67]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]


    
print(sorted(data, key=lambda x:x[1:2]))# x

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]

In [64]:
def custom_sort_key(item):
    return item[1]

data = [[1,'Z',"E"],
        [3,'X',"F"],
        [2,"Y","G"]]

sorted_data = sorted(data, key=custom_sort_key)
print(sorted_data)

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]

In [65]:
data[0]

[1, 'Z', 'E']

In [66]:
def custom_sort_key(item):
    return item[1]

data = [[1,'Z',"E"],
        [3,'X',"F"],
        [2,"Y","G"]]

sorted_data = sorted(data, key=data[0][0])
print(sorted_data)

TypeError: 'int' object is not callable

In [68]:
range(1,11)

range(1, 11)

In [69]:
a = range(1,11)
print(next(a))
print(next(a))
print(next(a))

TypeError: 'range' object is not an iterator

# Generator Function

In [75]:
def my_range(start,end,step=1):
    for i in range(start,end+1, step):
        yield i
        
        
a = my_range(1,11)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

In [76]:
print("Hellow")

Hellow

In [77]:
print(next(a))

5

In [78]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120