In [2]:
a = "Pakistan zindabad!"
print(type(a))
print(dir(a))        # dir return all methods and attribute

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

All **Methods**/function, **attribtues**/properties/fields of string
* `method_name()`
* `attribute_name`

* How we can call methods or attribute
    * `object_name.method_name()`
    * `object_name.attribute_name`

'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

In [3]:
text = """Pakistan zInda BAd!
we Love OuR country."""

print(text.capitalize())

Pakistan zinda bad!
we love our country.

In [4]:
text = """Pakistan zInda BAd!
we Love OuR country."""

print(text.casefold())

pakistan zinda bad!
we love our country.

In [9]:
name = "Muhammad Qasim"
print(len(name)) # len global function

14

In [12]:
name = "Muhammad Qasim"
print(name.__len__()) # method

14

In [8]:
name = "Muhammad Qasim"
name.center(20)

'   Muhammad Qasim   '

In [13]:
name = "Muhammad Qasim"
print(name.count("a"))

3

In [ ]:
name = "Muhammad Qasim"
print(name.count("a"))

In [15]:
'abc'
'123'
'qasim'

'qasim'

In [16]:
name = "Muhammad Qasim is teaching AI at NE"
print(name.count("Qasim"))

1

In [21]:
name = "Muhammad Qasim"

name.count("m") + name.count("a") + name.count("M") + name.count("A")

7

In [26]:
name = "Muhammad Qasim" # step1 Muhammad Qasim
name = name.casefold()#step2 -> muhammad qasim
print(name)# step3->display

#          m=4              a=3
print(name.count("m") , name.count("a"))

muhammad qasim
4 3

In [28]:
name = "Muhammad Qasim" # step1 Muhammad Qasim
name = name.casefold()#step2 -> muhammad qasim
print(name)# step3->display

#          m=4              a=3
m1 = name.count("m") # count method always return int value
a1 = name.count("a")

print(type(m1))

muhammad qasim
<class 'int'>

اب دع ف
https://www.w3schools.com/python/ref_string_encode.asp

In [29]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [30]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [32]:
name = "Muhammad Qasim"
print(name.endswith("m"))
print(name.endswith("sim"))

True
True

In [33]:
name = "Muhammad Qasim"
print(name.startswith("M"))
print(name.startswith("sim"))

True
False

In [34]:
name = "Muhammad Qasim"

search = input("start with ")

print(name.startswith(search))
print(name.startswith("sim"))

start with  Mu

True
False

In [35]:
card = """
NED University
Batch 5
Class:\t Python
Name:\tMuhammad Qasim
Father's Name:\tMuhammad Aslam
"""

print(card)

NED University
Batch 5
Class:	 Python
Name:	Muhammad Qasim
Father's Name:	Muhammad Aslam

In [39]:
card = """
NED University
Batch 5
Class:\tPython
Name:\tMuhammad Qasim
Father's Name:\tMuhammad Aslam
"""

print(card.expandtabs(30))

NED University
Batch 5
Class:                        Python
Name:                         Muhammad Qasim
Father's Name:                Muhammad Aslam

Help
* help(function)
* help(object_name.method)
* function?
* function??
* ?function
* ??function
* function(shift+press_tab_button)

In [40]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [42]:
print??

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [44]:
??print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [45]:
name = "MuHaMmad QaSiM"

?name.lower

Signature: name.lower()
Docstring: Return a copy of the string converted to lowercase.
Type:      builtin_function_or_method

In [46]:
name = "MuHaMmad QaSiM"
name.lower()

'muhammad qasim'

In [48]:
a = 3 and 2
print(a)

2

In [51]:
name = "     Muhammad Qasim     "
name.lstrip()

'Muhammad Qasim     '

In [52]:
name = "     Muhammad Qasim     "
name.rstrip()

'     Muhammad Qasim'

In [53]:
name = "     Muhammad Qasim     "
name.strip()

'Muhammad Qasim'

In [54]:
name = "     Muhammad          Qasim     "
name.strip()

'Muhammad          Qasim'

In [56]:
name = "Muhammad Qasim Qasim Qasim"
name.replace("Qasim","Aslam")

'Muhammad Aslam Aslam Aslam'

In [71]:
name = "Muhammad Qasim Qasim Qasim"
name.replace("Qasim","Aslam", -1)

'Muhammad Aslam Aslam Aslam'

In [62]:
name.index("Qasim")

9

In [67]:
name = "Muhammad Qasim Qasim Qasim"

name.find("Qasim",16)

21

In [64]:
name.count("Qasim")

3

# Additional Task

In [85]:
text = """
Team NED Academy12:59 PM
Sir please start recording  pleas
Iqra Ismail1:01 PM
no
Muhammad Abubakar1:01 PM
sir class end pe assignment ke baray mei thora guide krdejye ga
Iqra Ismail1:02 PM
yes
Altaf Hussain Bakhwani1:04 PM
yes
Muhammad Abubakar1:04 PM
clear hai sir
Talaal Yousoof1:04 PM
yes
Altaf Hussain Bakhwani1:07 PM
yes, action = method, character = attribute
Talaal Yousoof1:09 PM
what was attribute pls?
Uzma Farogh1:09 PM
sir some students are trying to join. please let them in
faranaz keshwani1:12 PM
how do you record attendance on online classes
Asfa Tabish1:23 PM
sir method and attribute repeat krdain pls
Ahmed Naseem1:25 PM
Yes, main ne bhi late join kiya hai. It would be helpful if you can revise a bit.
Ashar Khaliq1:39 PM
print(name.lower().count("m"))
Rosh Mirza1:41 PM
name = "I love my country "
name = name.casefold()
print("y count:",name.count('y'),"m count :",name.count('m'))
You2:17 PM
24mrw4t
Imran Haider2:26 PM
3130315904511
Muhammad Abubakar2:26 PM
42201-1270634-5
Aamir Pingal2:26 PM
423012945634
Talaal Yousoof2:26 PM
4220158211299
Ahmed Naseem2:26 PM
4200066399757
Muhammad Ovais2:26 PM
42101-4941-769-5
Atif Salam2:26 PM
42201-9446591-3
Altaf Hussain Bakhwani2:26 PM
4220105815527
Feroz Gul2:26 PM
44204-3335269-3
Jawwad Khan2:26 PM
42201-9848624-7
Mahnoor Shoukat2:26 PM
4250150754028
hanfia sattar2:26 PM
4220151056096
Hiba Rafiq2:26 PM
4230185868058
Sadia Javed2:26 PM
4220158772002
Hafsa Imtiaz2:26 PM
42201-8903447-4
Fahad Hashmi2:27 PM
4210180636569
Iqra Ismail2:27 PM
4220113160602
Azeem Khan2:27 PM
42101-7583355-9
muhammad usman2:27 PM
33203-1390549-7
Owais Saeed2:27 PM
4210187416487
Dareer Khalid2:27 PM
4220103150553
Tauqir Ahmed2:27 PM
4220157915361
asad ahmad2:27 PM
3130349769793
FJ2:27 PM
4210174737043
Abdul Rehman2:27 PM
4210113955917
Danish Siddiquie2:27 PM
4230174890321
Huzaifa Aazmi2:27 PM
42101-4717980-5
Waqas Khan2:27 PM
35202-2018037-1
Memon Nadeemhabib2:27 PM
4130627627273
Habib Sufyan2:27 PM
42101-9546976-1
waqar saleem2:27 PM
3740611871985
Muhammad Umer Farooq2:27 PM
4250141745875
Ali Mehdi2:27 PM
42101-0883203-9
Taj Ahmed2:27 PM
42101-5086613-3
Siyam Ansari2:27 PM
45504-6691184-5
Asfa Tabish2:27 PM
42201-3317436-4
Gul Zaman Shaikh2:27 PM
42301-4208474-9
Gul Zaman
Rohan Wasim2:27 PM
4210156852483
Mahek Ali2:27 PM
4220119350184
Irtiqa Khan2:27 PM
42501-1882684-3
Hammad Khan2:27 PM
42201-2206678-9
mansoor ahmed2:27 PM
41303-1217008-9
imran jamil2:27 PM
42201-2367694-3
Junaid Khan2:27 PM
4250118835393
Saira Shaikh2:27 PM
4220182635186
Shariq Bashir2:27 PM
42101-1743803-7
Asmat Mehmood2:27 PM
423018695739
Raheel Nadeem2:27 PM
4220114028509
Saba Ali2:27 PM
42301-3905834-2
adeel Zaman2:27 PM
4240116015521 adeel zaman
Rosh Mirza2:27 PM
4420651603848
Ashar Khaliq2:27 PM
4200004676915
syed farman ali shah2:27 PM
1510203461495
Haroon Saleem2:27 PM
4240156992579
Shakeel Ahmed2:27 PM
4240119589433
Syed Usman Ghani2:27 PM
4210109155877
Abdul Samad Shaikh2:27 PM
4210255467543
Muhammad Saad2:27 PM
42201-4144981-5
Vishah Fatima2:27 PM
4210170628928
KAMRAN KHATRI2:27 PM
4230198076489
Shafaat Ahmed Khan2:27 PM
42201-3225780-3
Uzma Farogh2:27 PM
4210190028920
Akbar Khan2:27 PM
4220106865377
bilal2:28 PM
4210164911883
Bilal Khan2:28 PM
42501-3607843-1
Abdul Samad Shaikh2:28 PM
4210184328497
Xyz2:28 PM
4210118094301
Mahpara Badar2:28 PM
4210111752498
Hasan Mehdi2:28 PM
4210144676677
Imran Khan2:28 PM
4130498094753
Jahanzeb Siddiqui2:29 PM
4210169925379
Omema Akhtar2:29 PM
4210151840638 omema Akhtar
Raniya Khan2:29 PM
42201-9978093-2
aqsa akmal2:29 PM
4220145184200
Javeed Ahmed2:30 PM
4220141864935
Ashar Khaliq2:30 PM
%d
faranaz keshwani2:31 PM
42201-7992036-2
42201-7992036-2 Faranaz Surani
Ahmed Naseem2:32 PM
13 digit
Saba Ali2:32 PM
13
Talaal Yousoof2:32 PM
13
Danish Siddiquie2:32 PM
13
"""

import re
import pandas as pd

text = text.replace("-","")

cnic = re.findall('\d{13}',text)
cnic = list(set(cnic))
print(len(cnic))

df = pd.DataFrame({"CNIC":cnic})
df.to_excel("class3_attendance.xlsx", index=False)

df

74

             CNIC
0   4230139058342
1   4210255467543
2   4220157915361
3   4550466911845
4   4210111752498
..            ...
69  4240116015521
70  4420651603848
71  4220113160602
72  4220198486247
73  4220105815527

[74 rows x 1 columns]

In [84]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [99]:
text = """
Team NED Academy12:59 PM
Sir please start recording  pleas
Iqra Ismail1:01 PM
no
Muhammad Abubakar1:01 PM
sir class end pe assignment ke baray mei thora guide krdejye ga
Iqra Ismail1:02 PM
yes
Altaf Hussain Bakhwani1:04 PM
yes
Muhammad Abubakar1:04 PM
clear hai sir
Talaal Yousoof1:04 PM
yes
Altaf Hussain Bakhwani1:07 PM
yes, action = method, character = attribute
Talaal Yousoof1:09 PM
what was attribute pls?
Uzma Farogh1:09 PM
sir some students are trying to join. please let them in
faranaz keshwani1:12 PM
how do you record attendance on online classes
Asfa Tabish1:23 PM
sir method and attribute repeat krdain pls
Ahmed Naseem1:25 PM
Yes, main ne bhi late join kiya hai. It would be helpful if you can revise a bit.
Ashar Khaliq1:39 PM
print(name.lower().count("m"))
Rosh Mirza1:41 PM
name = "I love my country "
name = name.casefold()
print("y count:",name.count('y'),"m count :",name.count('m'))
You2:17 PM
24mrw4t
Imran Haider2:26 PM
3130315904511
Muhammad Abubakar2:26 PM
42201-1270634-5
Aamir Pingal2:26 PM
423012945634
Talaal Yousoof2:26 PM
4220158211299
Ahmed Naseem2:26 PM
4200066399757
Muhammad Ovais2:26 PM
42101-4941-769-5
Atif Salam2:26 PM
42201-9446591-3
Altaf Hussain Bakhwani2:26 PM
4220105815527
Feroz Gul2:26 PM
44204-3335269-3
Jawwad Khan2:26 PM
42201-9848624-7
Mahnoor Shoukat2:26 PM
4250150754028
hanfia sattar2:26 PM
4220151056096
Hiba Rafiq2:26 PM
4230185868058
Sadia Javed2:26 PM
4220158772002
Hafsa Imtiaz2:26 PM
42201-8903447-4
Fahad Hashmi2:27 PM
4210180636569
Iqra Ismail2:27 PM
4220113160602
Azeem Khan2:27 PM
42101-7583355-9
muhammad usman2:27 PM
33203-1390549-7
Owais Saeed2:27 PM
4210187416487
Dareer Khalid2:27 PM
4220103150553
Tauqir Ahmed2:27 PM
4220157915361
asad ahmad2:27 PM
3130349769793
FJ2:27 PM
4210174737043
Abdul Rehman2:27 PM
4210113955917
Danish Siddiquie2:27 PM
4230174890321
Huzaifa Aazmi2:27 PM
42101-4717980-5
Waqas Khan2:27 PM
35202-2018037-1
Memon Nadeemhabib2:27 PM
4130627627273
Habib Sufyan2:27 PM
42101-9546976-1
waqar saleem2:27 PM
3740611871985
Muhammad Umer Farooq2:27 PM
4250141745875
Ali Mehdi2:27 PM
42101-0883203-9
Taj Ahmed2:27 PM
42101-5086613-3
Siyam Ansari2:27 PM
45504-6691184-5
Asfa Tabish2:27 PM
42201-3317436-4
Gul Zaman Shaikh2:27 PM
42301-4208474-9
Gul Zaman
Rohan Wasim2:27 PM
4210156852483
Mahek Ali2:27 PM
4220119350184
Irtiqa Khan2:27 PM
42501-1882684-3
Hammad Khan2:27 PM
42201-2206678-9
mansoor ahmed2:27 PM
41303-1217008-9
imran jamil2:27 PM
42201-2367694-3
Junaid Khan2:27 PM
4250118835393
Saira Shaikh2:27 PM
4220182635186
Shariq Bashir2:27 PM
42101-1743803-7
Asmat Mehmood2:27 PM
423018695739
Raheel Nadeem2:27 PM
4220114028509
Saba Ali2:27 PM
42301-3905834-2
adeel Zaman2:27 PM
4240116015521 adeel zaman
Rosh Mirza2:27 PM
4420651603848
Ashar Khaliq2:27 PM
4200004676915
syed farman ali shah2:27 PM
1510203461495
Haroon Saleem2:27 PM
4240156992579
Shakeel Ahmed2:27 PM
4240119589433
Syed Usman Ghani2:27 PM
4210109155877
Abdul Samad Shaikh2:27 PM
4210255467543
Muhammad Saad2:27 PM
42201-4144981-5
Vishah Fatima2:27 PM
4210170628928
KAMRAN KHATRI2:27 PM
4230198076489
Shafaat Ahmed Khan2:27 PM
42201-3225780-3
Uzma Farogh2:27 PM
4210190028920
Akbar Khan2:27 PM
4220106865377
bilal2:28 PM
4210164911883
Bilal Khan2:28 PM
42501-3607843-1
Abdul Samad Shaikh2:28 PM
4210184328497
Xyz2:28 PM
4210118094301
Mahpara Badar2:28 PM
4210111752498
Hasan Mehdi2:28 PM
4210144676677
Imran Khan2:28 PM
4130498094753
Jahanzeb Siddiqui2:29 PM
4210169925379
Omema Akhtar2:29 PM
4210151840638 omema Akhtar
Raniya Khan2:29 PM
42201-9978093-2
aqsa akmal2:29 PM
4220145184200
Javeed Ahmed2:30 PM
4220141864935
Ashar Khaliq2:30 PM
%d
faranaz keshwani2:31 PM
42201-7992036-2
42201-7992036-2 Faranaz Surani
Ahmed Naseem2:32 PM
13 digit
Saba Ali2:32 PM
13
Talaal Yousoof2:32 PM
13
Danish Siddiquie2:32 PM
13
"""

import re

names = re.findall("(.*)\d+:\d+ PM", text)
names

['Team NED Academy1',
 'Iqra Ismail',
 'Muhammad Abubakar',
 'Iqra Ismail',
 'Altaf Hussain Bakhwani',
 'Muhammad Abubakar',
 'Talaal Yousoof',
 'Altaf Hussain Bakhwani',
 'Talaal Yousoof',
 'Uzma Farogh',
 'faranaz keshwani',
 'Asfa Tabish',
 'Ahmed Naseem',
 'Ashar Khaliq',
 'Rosh Mirza',
 'You',
 'Imran Haider',
 'Muhammad Abubakar',
 'Aamir Pingal',
 'Talaal Yousoof',
 'Ahmed Naseem',
 'Muhammad Ovais',
 'Atif Salam',
 'Altaf Hussain Bakhwani',
 'Feroz Gul',
 'Jawwad Khan',
 'Mahnoor Shoukat',
 'hanfia sattar',
 'Hiba Rafiq',
 'Sadia Javed',
 'Hafsa Imtiaz',
 'Fahad Hashmi',
 'Iqra Ismail',
 'Azeem Khan',
 'muhammad usman',
 'Owais Saeed',
 'Dareer Khalid',
 'Tauqir Ahmed',
 'asad ahmad',
 'FJ',
 'Abdul Rehman',
 'Danish Siddiquie',
 'Huzaifa Aazmi',
 'Waqas Khan',
 'Memon Nadeemhabib',
 'Habib Sufyan',
 'waqar saleem',
 'Muhammad Umer Farooq',
 'Ali Mehdi',
 'Taj Ahmed',
 'Siyam Ansari',
 'Asfa Tabish',
 'Gul Zaman Shaikh',
 'Rohan Wasim',
 'Mahek Ali',
 'Irtiqa Khan',
 'Hammad Khan',
 'mansoor ahmed',
 'imran jamil',
 'Junaid Khan',
 'Saira Shaikh',
 'Shariq Bashir',
 'Asmat Mehmood',
 'Raheel Nadeem',
 'Saba Ali',
 'adeel Zaman',
 'Rosh Mirza',
 'Ashar Khaliq',
 'syed farman ali shah',
 'Haroon Saleem',
 'Shakeel Ahmed',
 'Syed Usman Ghani',
 'Abdul Samad Shaikh',
 'Muhammad Saad',
 'Vishah Fatima',
 'KAMRAN KHATRI',
 'Shafaat Ahmed Khan',
 'Uzma Farogh',
 'Akbar Khan',
 'bilal',
 'Bilal Khan',
 'Abdul Samad Shaikh',
 'Xyz',
 'Mahpara Badar',
 'Hasan Mehdi',
 'Imran Khan',
 'Jahanzeb Siddiqui',
 'Omema Akhtar',
 'Raniya Khan',
 'aqsa akmal',
 'Javeed Ahmed',
 'Ashar Khaliq',
 'faranaz keshwani',
 'Ahmed Naseem',
 'Saba Ali',
 'Talaal Yousoof',
 'Danish Siddiquie']

In [114]:
data = """

12:05:40 From Ali Asar To Everyone : PIAIC-187258
12:05:41 From Hasnain Munir To Everyone : PIAIC-187272
12:05:44 From Shaheer Baig To Everyone : PIAIC-169519
12:05:45 From Humera Naz To Everyone : PIAIC-173431
12:05:47 From Sadia Anwar To Everyone : PIAIC-180028
12:05:47 From Muhammad Mehroz To Everyone : PIAIC-131496
12:05:47 From Home To Everyone : PIAIC-172998
12:05:47 From Muhammad Sadullah = PIAIC-178950 To Everyone : PIAIC-178950
12:05:48 From Muhammad Uzair-177637 To Everyone : PIAIC-177637
12:05:48 From Taqwa Khaliq To Everyone : PIAIC-173701 TAQWA KHALIQ
12:05:48 From asghar ibraheem CNC-012105 To Everyone : CNC-012105
12:05:49 From Faisal Bashir-177802 To Everyone : PIAIC-177802
12:05:50 From Talha Munir Rana To Everyone : PIAIC-173761
12:05:52 From Abdul Qadar To Everyone : PIAIC-172941
12:05:57 From Dr. Bhagwan Das To Everyone : PIAIC-96879
12:05:57 From Uzair Ullah (PIAIC169405) To Everyone : PIAIC-169405
12:06:00 From Arshad To Everyone : PIAIC168092
12:06:01 From PIAIC188523 Subhan Ahmed To Everyone : PIAIC188523
12:06:04 From Taqwa Khaliq To Everyone : PIAIC 173701
12:06:10 From Ali Asar To Everyone : PIAIC-188720
12:06:23 From Mohammad Javed To Everyone : WhatsApp number?
12:06:28 From Gulshan Ali To Everyone : PIAIC-176719
12:06:29 From M Ali Asif Khan - PIAIC-57947 To Everyone : PIAIC-57947
12:06:33 From Usman Noor PIAIC-188401 To Everyone : PIAIC-188401
12:06:46 From Zia (piaic121514) To Everyone : thanks
12:06:49 From Sohaib Baseer Ahmad To Everyone : PIAIC67260
12:40:20 From Ali Asar To Everyone : PIAIC-187258

"""

import re

d = re.findall("(\d{2}:\d{2}:\d{2}) From (.*?) To Everyone : (PIAIC-?\d{5,6})", data)
d = pd.DataFrame(d,columns=["Time","Name","Roll No"])
d

        Time                              Name       Roll No
0   12:05:40                          Ali Asar  PIAIC-187258
1   12:05:41                     Hasnain Munir  PIAIC-187272
2   12:05:44                      Shaheer Baig  PIAIC-169519
3   12:05:45                        Humera Naz  PIAIC-173431
4   12:05:47                       Sadia Anwar  PIAIC-180028
5   12:05:47                   Muhammad Mehroz  PIAIC-131496
6   12:05:47                              Home  PIAIC-172998
7   12:05:47  Muhammad Sadullah = PIAIC-178950  PIAIC-178950
8   12:05:48             Muhammad Uzair-177637  PIAIC-177637
9   12:05:48                      Taqwa Khaliq  PIAIC-173701
10  12:05:49              Faisal Bashir-177802  PIAIC-177802
11  12:05:50                  Talha Munir Rana  PIAIC-173761
12  12:05:52                       Abdul Qadar  PIAIC-172941
13  12:05:57                   Dr. Bhagwan Das   PIAIC-96879
14  12:05:57         Uzair Ullah (PIAIC169405)  PIAIC-169405
15  12:06:00                            Arshad   PIAIC168092
16  12:06:01          PIAIC188523 Subhan Ahmed   PIAIC188523
17  12:06:10                          Ali Asar  PIAIC-188720
18  12:06:28                       Gulshan Ali  PIAIC-176719
19  12:06:29     M Ali Asif Khan - PIAIC-57947   PIAIC-57947
20  12:06:33           Usman Noor PIAIC-188401  PIAIC-188401
21  12:06:49               Sohaib Baseer Ahmad    PIAIC67260
22  12:40:20                          Ali Asar  PIAIC-187258