In [1]:
s1_name = "Hammad"
s2_name = "Visha"
s3_name = "Sadia"
s4_name = "M.A Rasheed"


print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

Hammad
Visha
Sadia
M.A Rasheed

# list data type
* Hetrogenous data type
* dynamic length
* dynamic memory management

Syntax:

```[elemnet1, element2, element3,...]```

In [4]:
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
names

['Hammad', 'Visha', 'Sadia', 'M.A Rasheed']

In [ ]:
# ->         0       1        2         3
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
# <-        -4       -3        -2         -1             <-

names

# Extract value from iterative data type with index position
Syntax: ```list_variable[index_number]```

In [6]:
names1 = input("Please insert names with ',' seprated: ")
print(names1)
names1.split(",")

Please insert names with ',' seprated:  Hamza,Ali,Iqbal,Junaid,Ibad,Konain

Hamza,Ali,Iqbal,Junaid,Ibad,Konain

['Hamza', 'Ali', 'Iqbal', 'Junaid', 'Ibad', 'Konain']

In [8]:
# ->         0       1        2         3
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
# <-        -4       -3        -2         -1             <-
# list_variable[index_number]
print(names[1])
print(names[-3])

Visha
Visha

# Slicing on list
Syntax: ```list_variable[start:end:step]```
* start = this number will be included
* end = excluded end-1
* step = sequance/gap
    * stpe = 1 (positive value ---->)

In [27]:
range(1,11)

range(1, 11)

In [43]:
a = list(range(1,11))

print(a)

# print(a[3::])
# print(a[3:])
# print(a[3:10])
# print(a[3:10:1])
# print(a[-7:])
print(a[-5:-10:-2])



# print(a[0:10:3])

# print(a[::])

# print(a[1:7])
# print(a[1:2])
# print(a[0])# indexing

#  0  1  2  3  4   5  6 7  8   9 ->
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# -10 -9-8 -7 -6 -5 -4  -3 -2 -1   <-

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 4, 2]

In [33]:
a = list(range(1,11))

print(a)
print(a[-2:-5:-1])# <-----

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 8, 7]

In [5]:
characters = list("abcdefghijklmnopqrstuvwxyz")
print(characters)

counter = 0

while(counter < len(characters)):
    print(characters[counter])
    counter += 2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
c
e
g
i
k
m
o
q
s
u
w
y

# Extra code

In [45]:
import numpy as np

a = np.arange(1,101).reshape(10,10).tolist()
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [48]:
display(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [53]:
a[0:5:]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]]

In [56]:
[i[5:8] for i in a]

[[6, 7, 8],
 [16, 17, 18],
 [26, 27, 28],
 [36, 37, 38],
 [46, 47, 48],
 [56, 57, 58],
 [66, 67, 68],
 [76, 77, 78],
 [86, 87, 88],
 [96, 97, 98]]

# End Extra code

In [67]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
for i in "abcdef":
    print(i)

a
b
c
d
e
f

In [77]:
print(i)

f

In [72]:
[i for i in "abcdef"]

['a', 'b', 'c', 'd', 'e', 'f']

In [74]:
[i for i in "abcdef"]

['a', 'b', 'c', 'd', 'e', 'f']

In [78]:
for i in ['hamza','asif','junaid']:
    print(i)

hamza
asif
junaid

In [63]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [82]:
names = []
print(names)
names.append("Qasim")
print(names)
names.append("Asif")
print(names)
names.append("Hamza")
print(names)

[]
['Qasim']
['Qasim', 'Asif']
['Qasim', 'Asif', 'Hamza']

In [84]:
while True:
    name1 = input("Enter Student Name | X for exit")
    if name1 == "X" or name1 =="x":
        break
    names.append(name1)

names

Enter Student Name | X for exitUbaid
Enter Student Name | X for exitkonain
Enter Student Name | X for exitIbad
Enter Student Name | X for exitx

['Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [85]:
names

['Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [86]:
st_names = names # shallow copy
st_names

['Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [87]:
st_names[0]

'Qasim'

In [88]:
st_names[0] = "Muhammad Qasim"
print(st_names)
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']
['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [90]:
st_names1 = names.copy() # deep copy
st_names1

st_names1[0] = "Qasim"

print(names)
print(st_names1)

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']
['Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [92]:
print(names)
n = names[:] # deep copy
n[0] = 'Qasim1'

print(names)
print(n)

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']
['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']
['Qasim1', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [93]:
names.count("Asif")

1

In [ ]:
object.method_name()

In [94]:
names

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad']

In [95]:
names.append('111')

In [96]:
names

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad', '111']

In [97]:
names.append('222')
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad', '111', '222']

In [98]:
names.append(['333'])
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad', '111', '222', ['333']]

In [99]:
remaining_names = ['a','b','c']
remaining_names

['a', 'b', 'c']

In [100]:
names.extend(remaining_names)
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Ubaid',
 'konain',
 'Ibad',
 '111',
 '222',
 ['333'],
 'a',
 'b',
 'c']

In [101]:
del names[-4]
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Ubaid',
 'konain',
 'Ibad',
 '111',
 '222',
 'a',
 'b',
 'c']

In [104]:
names.index("konain")

4

In [105]:
names.insert(0,"Eman")
names

['Eman',
 'Muhammad Qasim',
 'Asif',
 'Hamza',
 'Ubaid',
 'konain',
 'Ibad',
 '111',
 '222',
 'a',
 'b',
 'c']

In [106]:
del names[0]
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Ubaid',
 'konain',
 'Ibad',
 '111',
 '222',
 'a',
 'b',
 'c']

In [107]:
c  = names.pop()
print(c)
print(names)

c
['Muhammad Qasim', 'Asif', 'Hamza', 'Ubaid', 'konain', 'Ibad', '111', '222', 'a', 'b']

In [108]:
names.remove("Ubaid")

In [109]:
names

['Muhammad Qasim', 'Asif', 'Hamza', 'konain', 'Ibad', '111', '222', 'a', 'b']

In [110]:
names.reverse()

In [111]:
names

['b', 'a', '222', '111', 'Ibad', 'konain', 'Hamza', 'Asif', 'Muhammad Qasim']