In [2]:
data = "Pakistan zinda bad"

print(data)
print(data)

Pakistan zinda bad
Pakistan zinda bad

In [4]:
data = "Pakistan zinda bad 123 !@#$"

print(data)
print(type(data))

Pakistan zinda bad
<class 'str'>

In [5]:
data = 'Pakistan zinda bad 123 !@#$'

print(data)
print(type(data))

Pakistan zinda bad 123 !@#$
<class 'str'>

In [6]:
data = "Pakistan zinda bad 123 !@#$" hello world "

print(data)
print(type(data))

SyntaxError: ignored

In [7]:
data = 'Pakistan zinda bad 123 !@#$  " Hello world '

print(data)
print(type(data))

Pakistan zinda bad 123 !@#$  " Hello world
<class 'str'>

In [8]:
data = "Pakistan zinda bad 123 !@#$  ' Hello world "

print(data)
print(type(data))

Pakistan zinda bad 123 !@#$  ' Hello world
<class 'str'>

In [9]:
data = 'Pakistan zinda bad' 123 !@#$  " Hello world '

print(data)
print(type(data))

SyntaxError: ignored

convert special character into normal **character**
* place "\\" before any special character

In [10]:
data = 'Pakistan zinda bad\' 123 !@#$  " Hello world '

print(data)
print(type(data))

Pakistan zinda bad' 123 !@#$  " Hello world
<class 'str'>

In [ ]:
data = 'Pakistan zinda bad \' 123 !@#$  " Hello world '

print(data)
print(type(data))

# assign mulitline string

In [12]:
abc = "Line1 pakistan "\
"Line2 Pakistan "\
"Line3 Pakistan "

print(abc)
print(type(abc))

Line1 pakistan Line2 Pakistan Line3 Pakistan
<class 'str'>

In [13]:
abc = """
line1 Hello world
line2 Pakistan zinda bad
line3 we love our country
"""

abc

'\nline1 Hello world\nline2 Pakistan zinda bad\nline3 we love our country\n'

In [17]:
abc = """
line1 Hello world
line2 Pakistan zinda bad
line3 we love our\tcountry
"""

print(abc)
print(type(abc))

line1 Hello world
line2 Pakistan zinda bad
line3 we love our	country

<class 'str'>

In [16]:
abc = '''
line1 Hello world
line2 Pakistan 'zinda bad
line3 we love our country
'''

print(abc)
print(type(abc))

line1 Hello world
line2 Pakistan 'zinda bad
line3 we love our country

<class 'str'>

# Concatination and Text Formation

In [18]:
"1" + 1

TypeError: ignored

In [19]:
"1" + "1"

'11'

In [20]:
1 + 1

2

In [21]:
a = input("Enter no1:")
b = input("Enter no2")

print(type(a), type(b))
print(a + b) # concatination

Enter no1:7
Enter no28
<class 'str'> <class 'str'>
78

# Type casting
* int()
* str()
* float()
* list()
* tuple()
* dict()
* set()

In [27]:
a = "7" # string
print( a, type(a))

a = int(a)# convert string into int
print( a, type(a))

a = float(a)# convert string into int
print( a, type(a))

7 <class 'str'>
7 <class 'int'>
7.0 <class 'float'>

In [28]:
a = input("Enter no1:")
b = input("Enter no2")
a = int(a)
b = int(b)
print(type(a), type(b))
print(a + b) # addition operation

Enter no1:1
Enter no21
<class 'int'> <class 'int'>
2

In [29]:
a = int(input("Enter no1:"))
b = int(input("Enter no2"))

print(type(a), type(b))
print(a + b)

Enter no1:1
Enter no21
<class 'int'> <class 'int'>
2

In [30]:
int("1") + 1

2

In [31]:
"1" + str(1)

'11'

In [48]:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = "NED University \nStudent roll no:" + str(roll_no)+\
"\nStudent Name: " + name + "\nFather's Name: " + fname +\
"\nContact no: "\
+ contact_no

print(card)

NED University
Student roll no:200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [57]:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = """NED University
Student roll no:{}
Student Name: {}
Father's Name: {}
Contact no: {}""".format(roll_no,name,fname,contact_no)

print(card)

NED University
Student roll no:200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [ ]:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = """NED University
Student roll no:{}
Student Name: {}
Father's Name: {}
Contact no: {}""".format(roll_no,name,fname,contact_no)
#                          0      1     2      3

print(card)

In [61]:
roll_no = 200
name = "Asif Khan"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = """NED University
Student roll no:{2}
Student Name: {0}
Father's Name: {1}
Contact no: {3}""".format(name,fname,roll_no,contact_no)
#                          0      1     2      3

print(card)

NED University
Student roll no:200
Student Name: Asif Khan
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [70]:
roll_no = 200
name = "Asif Khan"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = f"""NED University
Student roll no:\t{roll_no}
Student Name:\t {name}
Father's Name: {fname}
Contact no: {contact_no}
2+2 = {2+2}"""

print(card)

NED University
Student roll no:	200
Student Name:	 Asif Khan
Father's Name: Muhammad Aslam
Contact no: 03152968211
2+2 = 4

In [68]:
roll_no = input("roll no")
name = input("Name: ")
fname = input("Father's Name")
contact_no = input("contact no: ")
print('=====================')

card = f"""NED University
Student roll no:{roll_no}
Student Name: {name}
Father's Name: {fname}
Contact no: {contact_no}"""

print(card)

roll no444
Name: Iqbal
Father's NameHussain
contact no: 11234
=====================
NED University
Student roll no:444
Student Name: Iqbal
Father's Name: Hussain
Contact no: 11234

In [ ]:
%s  string
%d number

In [71]:
roll_no = 111
name = "Muhammad qasim"
"Student name %s \n roll no: %d" % (name,roll_no)

'Student name Muhammad qasim \n roll no: 111'